@using KisiselWebProjesi.Models.Classes
@model List<MainPage>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kişisel Web Sitesi</title>
    <link rel="stylesheet" href="~/web-KişiselWeb/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="center">
        <div class="avatar">
            @foreach (var item in Model)
            {
                <img src="@item.Image">
            }
        </div>
        <div class="content">
            @foreach (var item in Model)
            {
                <h1>@item.NameSurname</h1>
                <h2>@item.Title</h2>
                <p>@item.Description</p>
                <h3>@item.Communication</h3>
            }
        </div>
        @Html.Action("Icons","MainPage")
    </div>
</body>
</html>
